<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bukaedu.dao.MemberMapper">
    <select id="selectByTel" resultType="pojo.Member" parameterType="string">
        select * from t_member where phoneNumber=#{telephone}
    </select>
    <insert id="add" parameterType="pojo.Member">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            select last_insert_id()
        </selectKey>

        insert into t_member (fileNumber,name,sex,idCard,phoneNumber,regTime,password,email,birthday,remark)
        values (#{fileNumber},#{name},#{sex},#{idCard},#{phoneNumber},#{regTime},#{password},#{email},#{birthday},#{remark})
    </insert>
</mapper>